@using Volvo.LAT.POLineDomain.DomainLayer.Entities;
<h4>New PO Line</h4>
@(Html.Kendo().Grid<POLine>()
     .Name("gridRenewals")
     .Columns(columns =>
     {

         columns.Bound(o => o.EbdNumber).Title("PO Number").ClientTemplate("<a href='" + Url.Action("GetPurchaseOrderDetail", "PoLine", new { purchaseOrderId = "#= EbdNumber #'" }) + ">#= EbdNumber #</a>");
         columns.Bound(o => o.PoLine).Title("PO Line");
         columns.Bound(o => o.PurchaseOrderLineFromEbd.PurchaseOrder.VendorName).Title("VendorName");

     })
     .Selectable()
     .Sortable()
     .Pageable(p => p.Input(true).Refresh(true).PageSizes(new[] { 10, 20, 50, 100 }))
     .AutoBind(true)
     .Scrollable(x => x.Enabled(false))
     .DataSource(dataSource => dataSource
         .Ajax()
         .Read(read => read.Action("GetPolineRenewals", "Dashboard"))
         .PageSize(10)
                                                                                                      )

)
