<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
     defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="NVSInfoListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging , Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging , Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="Volvo.NVS.POSWindowService.WMQListener.Info.log" footer="" formatter="NVSSingleLineFormatter"
        header="" rollFileExistsBehavior="Increment" rollInterval="Midnight"
        rollSizeKB="3072" timeStampPattern="yyyy-MM-dd" traceOutputOptions="None"
        filter="All" />
      <add name="NVSErrorListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging , Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging , Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="Volvo.NVS.POSWindowService.WMQListener.Error.log" footer=""
        formatter="NVSErrorFormatter" header="" rollFileExistsBehavior="Increment"
        rollInterval="Midnight" rollSizeKB="3072" timeStampPattern="yyyy-MM-dd"
        traceOutputOptions="None" filter="All" />
      <add name="NVSEventLogListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        source="Volvo.NVS.POSWindowService.WMQListener.Info" formatter="NVSEventViewerFormatter"
        log="" machineName="." traceOutputOptions="None" />
      <add name="NVSLoggerErrorListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging , Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging , Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="NVSErrors.log" footer="" formatter="NVSErrorFormatter"
        header="" rollFileExistsBehavior="Increment" rollInterval="Midnight"
        rollSizeKB="1024" timeStampPattern="yyyy-MM-dd" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack"
        filter="All" />
      <add name="NVSEmailListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        toAddress="PPDL.NVS@volvo.com" fromAddress="PPDL.NVS@volvo.com" smtpPort="25" smtpServer="mailgot.it.volvo.net" formatter="NVSErrorFormatter" 
        subjectLineStarter="POS -- " subjectLineEnder=" -- Listener" />
    </listeners>
    <formatters>
      <add type="Volvo.NVS.Logging.Formatters.SingleLineLogFormatter, Volvo.NVS.Logging"
        name="NVSSingleLineFormatter" />
      <add type="Volvo.NVS.Logging.Formatters.ErrorLogFormatter, Volvo.NVS.Logging"
        name="NVSErrorFormatter" />
      <add type="Volvo.NVS.Logging.Formatters.EventLogFormatter, Volvo.NVS.Logging"
        name="NVSEventViewerFormatter" />
    </formatters>

    <!-- The below logfilters to be used in Development enviornment. Also whenever required in production environment -->
    
    <!--<logFilters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, 
           Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0,Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Production">
        <categoryFilters>
          <add name="Debug" />
          <add name="Trace" />
        </categoryFilters>
      </add>
    </logFilters>-->
    
    
    <categorySources>
      <add switchValue="Information" name="Info">
        <listeners>
          <add name="NVSInfoListener" />
        </listeners>
      </add>
      <add switchValue="Verbose" name="Debug">
        <listeners>
          <add name="NVSInfoListener" />
        </listeners>
      </add>
      <add switchValue="Information" name="BusinessTask">
        <listeners>
          <add name="NVSInfoListener" />
        </listeners>
      </add>
      <add switchValue="Verbose" name="Trace">
        <listeners>
          <add name="NVSInfoListener" />
        </listeners>
      </add>
      <add switchValue="Information" name="Notify">
        <listeners>
          <add name="NVSInfoListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="NVSInfoListener" />
          <add name="NVSErrorListener" />
          <add name="NVSEventLogListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Critical">
        <listeners>
          <add name="NVSEmailListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="NVSLoggerErrorListener" />
        </listeners>
      </notProcessed>
      <errors switchValue="Error" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="NVSLoggerErrorListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
</configuration>