<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
    <property name="query.substitutions">hqlFunction=SQLFUNC</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">Data Source=nvs-dev.it.volvo.net;Initial Catalog=POS-DEV;Integrated Security=True</property>
    <property name="current_session_context_class">thread_static</property>
    <property name="show_sql">false</property>
  </session-factory>
</hibernate-configuration>
