<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <!-- Service Base -->
  <alias alias="IWindowsServiceBehaviour" type="Volvo.NVS.Utilities.WindowsServices.Services.IWindowsServiceBehaviour, Volvo.NVS.Utilities.WindowsServices" />
  <alias alias="IntegrationListenerService" type="Volvo.NVS.Integration.WindowsServices.Services.IntegrationListenerService, Volvo.NVS.Integration.WindowsServices" />

  <!--Order domain-->
  <alias alias="IOrderCheckAccess" type="Volvo.POS.OrderDomain.DomainLayer.IOrderCheckAccess, OrderDomain.Services" />
  <alias alias="IOrderAuthorizationService" type="Volvo.POS.OrderDomain.ServiceLayer.IOrderAuthorizationService, OrderDomain.Services" />
  <alias alias="orderAuthorization" type="Volvo.POS.OrderDomain.DomainLayer.OrderAuthorizationService, OrderDomain.Services" />
  
  <alias alias="IOrderService" type="Volvo.POS.OrderDomain.ServiceLayer.IOrderService, OrderDomain.Services" />
  <alias alias="orderService" type="Volvo.POS.OrderDomain.DomainLayer.OrderService, OrderDomain.Services" />

  <alias alias="IOrderRepository" type="Volvo.POS.OrderDomain.DomainLayer.RepositoryInterfaces.IOrderRepository, OrderDomain.Model" />
  <alias alias="orderRepository" type="Volvo.POS.OrderDomain.InfrastructureLayer.Repositories.OrderRepository, OrderDomain.Infrastructure" />

  <alias alias="ICountryRepository" type="Volvo.POS.OrderDomain.DomainLayer.RepositoryInterfaces.ICountryRepository, OrderDomain.Model" />
  <alias alias="countryRepository" type="Volvo.POS.OrderDomain.InfrastructureLayer.Repositories.CountryRepository, OrderDomain.Infrastructure" />

   <!--Part domain -->
  <alias alias="IPartService" type="Volvo.POS.PartDomain.ServiceLayer.IPartService, PartDomain.Services" />
  <alias alias="partService" type="Volvo.POS.PartDomain.DomainLayer.PartService, PartDomain.Services" />

  <alias alias="IPartRepository" type="Volvo.POS.PartDomain.DomainLayer.RepositoryInterfaces.IPartRepository, PartDomain.Model" />
  <alias alias="partRepository" type="Volvo.POS.PartDomain.InfrastructureLayer.Repositories.PartRepository, PartDomain.Infrastructure" />
  <!--/Part domain -->

  <!--User-->
  <alias alias="IUserService" type="Volvo.POS.UserDomain.ServiceLayer.IUserService, UserDomain.Services" />
  <alias alias="userService" type="Volvo.POS.UserDomain.DomainLayer.UserService, UserDomain.Services" />
  
  <alias alias="IUserRepository" type="Volvo.POS.UserDomain.DomainLayer.RepositoryInterfaces.IUserRepository, UserDomain.Model" />
  <alias alias="userRepository" type="Volvo.POS.UserDomain.InfrastructureLayer.Repositories.UserRepository, UserDomain.Infrastructure" />

  <!--AutoMapper-->
  <alias alias="Profile" type="AutoMapper.Profile, AutoMapper" />
  <!--/AutoMapper-->

  <!--Security-->
  <alias alias="IClaimsService" type="Volvo.NVS.Security.Claims.IClaimsService, Volvo.NVS.Security" />
  <alias alias="threadClaimsService" type="Volvo.NVS.Security.Claims.ThreadClaimsService, Volvo.NVS.Security" />
  <alias alias="IClaimsProvider" type="Volvo.NVS.Security.Claims.IClaimsProvider, Volvo.NVS.Security" />
  <!--/Security-->
  
  <!-- Integration Implementation -->
  <alias alias="commonIntegrationService"
        type="Volvo.NVS.Integration.WindowsServices.Services.IIntegrationListenerService, Volvo.NVS.Integration.WindowsServices" />
  <alias alias ="CommonIntegrationService"
         type="Volvo.NVS.Integration.WindowsServices.Services.IntegrationListenerService, Volvo.NVS.Integration.WindowsServices" />
  <alias alias="IIntegrationListenerHandler" type="Volvo.NVS.Integration.WindowsServices.Services.IIntegrationListenerHandler, Volvo.NVS.Integration.WindowsServices" />
  <!--/Integration Implementation -->
  
  <!--QueueHandlers -->
  <alias alias="PartReservationResponseQueueHandlers" type="Volvo.POS.Proxy.WindowsService.Listeners.PartReservationResponseIntegrationHandler, POSProxy.WindowsService" />
  <alias alias="PartsAvailabilityQueueHandlers" type="Volvo.POS.Proxy.WindowsService.Listeners.PartsAvailabilityIntegrationHandler, POSProxy.WindowsService" />
  <!--/QueueHandlers -->

  <!--Request -->
  <alias alias="IWarehouseRequestService" type="Volvo.POS.Proxy.Warehouse.RequestReply.IWarehouseRequestService, WarehouseProxy.RequestReply" />
  <alias alias="WarehouseRequestService" type="Volvo.POS.Proxy.Warehouse.RequestReply.WarehouseRequestService, WarehouseProxy.RequestReply" />
  <!--/Request -->

  <!--Subscribe-->
  <alias alias="IPartsReservationService" type="VoIPartsAvailabilityServicelvo.POS.Proxy.Warehouse.Subscribe.IPartsReservationService, WarehouseProxy.Subscribe" />
  <alias alias="PartsReservationService" type="Volvo.POS.Proxy.Warehouse.Subscribe.PartsReservationService, WarehouseProxy.Subscribe" />
  <alias alias="" type="Volvo.POS.Proxy.Warehouse.Subscribe.IPartsAvailabilityService, WarehouseProxy.Subscribe" />
  <alias alias="PartsAvailabilityService" type="Volvo.POS.Proxy.Warehouse.Subscribe.PartsAvailabilityService, WarehouseProxy.Subscribe" />
  <!--/Subscribe-->
  
  <alias alias="IGatewayFireService" type="Volvo.POS.Gateway.Fire.IGatewayFireService, POSGateway.Fire" />
  <alias alias="GatewayFireService" type="Volvo.POS.Gateway.Fire.GatewayFireService, POSGateway.Fire" />
  
  <container>
    <!--Service base-->
    <register type="IWindowsServiceBehaviour" mapTo="IntegrationListenerService" name="WindowsServiceBase" />
    
    <!--PartDomain-->
    <register type="IPartService" mapTo="partService" />
    <register type="IPartRepository" mapTo="partRepository" />
    
    <!--OrderDomain-->
    <register type="IOrderCheckAccess" mapTo="orderAuthorization" />
    <register type="IOrderAuthorizationService" mapTo="orderAuthorization" />
    <register type="IOrderService" mapTo="orderService" />
    <register type="IOrderRepository" mapTo="orderRepository" />
    <register type="ICountryRepository" mapTo="countryRepository" />

    <!--NVS Integration for WebSpehere MQ-->
    <register name="mqin"
              type="Volvo.NVS.Integration.IInputChannel, Volvo.NVS.Integration"
              mapTo="Volvo.NVS.Integration.WebsphereMQ.InputChannel, Volvo.NVS.Integration.WebsphereMQ"/>
    <register name="mqout"
              type="Volvo.NVS.Integration.IOutputChannel, Volvo.NVS.Integration"
              mapTo="Volvo.NVS.Integration.WebsphereMQ.OutputChannel, Volvo.NVS.Integration.WebsphereMQ"/>
    <register name="mqrep"
              type="Volvo.NVS.Integration.IReplyChannel, Volvo.NVS.Integration"
              mapTo="Volvo.NVS.Integration.WebsphereMQ.ReplyChannel, Volvo.NVS.Integration.WebsphereMQ"/>

    <!--UserDomain-->
    <register type="IUserService" mapTo="userService"/>
    <register type="IUserRepository" mapTo="userRepository" />

    <!--AutoMapper Mappings/Profiles-->
    <register name="WarehouseRequestReplyProfile" type="Profile" mapTo="Volvo.POS.Proxy.Warehouse.RequestReply.Translators.WarehouseRequestProfile, WarehouseProxy.RequestReply" />
 
    <!--Security-->
    <register type="IClaimsService" mapTo="threadClaimsService" />
    <register type="IClaimsProvider" mapTo="userService" />
    
    <!--QueueHandlers -->
    <register type="IIntegrationListenerHandler" mapTo="PartReservationResponseQueueHandlers" name="PartReservationResponse"  />
    <register type="IIntegrationListenerHandler" mapTo="PartsAvailabilityQueueHandlers" name="PartsAvailability"  />

    <!--Request-->
    <register type="IWarehouseRequestService" mapTo="WarehouseRequestService" />

    <!--Subscriber-->
    <register  type="IPartsReservationService" mapTo="PartsReservationService" />
    <register  type="IPartsAvailabilityService" mapTo="PartsAvailabilityService" />
  
    <!--Fire-->
    <register type="IGatewayFireService" mapTo="GatewayFireService" />
  
  </container>
  
</unity>
