/*
general css
*/

html
{
    background: #ffffff url(volvoba/background.gif) repeat-y scroll left top;
}

body
{
    background: transparent url(volvoba/background.gif) repeat-y scroll right top;
}

#nvsMainWindow
{
    background-color: #ffffff;
    margin: 0 18px 0 18px;
    border-left: 1px solid #9e9e94;
    border-right: 1px solid #9e9e94;
}

/*
header, body and footer
*/

#nvsHeader
{
    border: 0 !important;
    padding: 0 !important;
    overflow: visible !important;
    z-index: 1 !important;
    height: 78px;
}

#nvsSurroundingArea
{
    background: #ffffff url("volvoba/brandingBgRoundedCorners.gif") no-repeat left center;
}

#nvsApplicationId
{
    padding: 16px 0 16px 18px;
}

#nvsApplicationId h1
{
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    display: inline;
}

#nvsApplicationId h1 a
{
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

#nvsApplicationId h2
{
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    margin-left: 15px;
    display: inline;
}

#nvsSupportingFunctions
{
    margin: 9px 19px 0 0;
}

#nvsSupportingFunctions a
{
    background: url("volvoba/ic_bullet.gif") no-repeat left center;
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    padding-left: 8px;
    margin-left: 8px;
    color: #000f60;
}

#nvsUserId
{
    margin: 9px 19px 0 0;
    color: #666666;
}

#nvsContent
{
    border: 0 !important;
    padding-top: 6px !important;
    z-index: 0;
}

#nvsBody {
    padding: 6px 10px 0 10px !important;
}

#nvsFooter
{
    border: 0 !important;
    border-top: 1px solid #B8BBC3 !important;
    padding: 3px 0 6px !important;
}

#nvsVersion
{
    margin-right: 19px;
}

#nvsLegal
{
    margin-left: 19px;
}

/*
header tags
*/

h1.nvs
{
    font-weight: normal;
    font-size: 22px;
    padding-bottom: 8px;
    color: #a7a79f;
}

h2.nvs
{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 8px;
    color: #666666;
}

h3.nvs
{
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 8px;
    color: #222222;
}

h4.nvs
{
    font-weight: bold;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 5px;
    border-bottom: 1px dotted #666666;
    margin-bottom: 7px;
    color: #666666;
}

h5.nvs
{
    font-weight: bold;
    font-size: 11px;
    color: #222222;
    margin-bottom: 7px;
}

/*
command area
*/

.commandArea
{
    background-color: transparent;
    border: 1px solid #CDCDCD;
}

.commandArea input[type="button"],
.commandArea input[type="submit"]
{
    color: #222222;
    background-color: #E0E9F1;
    border-color: #728DA3;
}

.commandArea input[type="button"].disabled,
.commandArea input[type="submit"].disabled
{
    color: #9D9DA1;
    background-color: #E5E5E5;
    border-color: #a7a79f;
}

/*
toolbar
*/

.toolbar
{
    
    background: url("volvoba/toolbarBg.gif") repeat-x left top !important;
    background-color: #9cb0c1 !important;
    border-color: #728da3;
    /*height: 21px;*/
}

.toolbar .delimiter
{
    border-color: #90a1ae;
}

.toolbar input[type="button"],
.toolbar input[type="submit"]
{
    color: #333333;
}

.toolbar input[type="button"]:hover,
.toolbar input[type="submit"]:hover
{
    color: #000000;
    background-color: #EBEFF2;
    border-color: #ADBFCD;
}

.toolbar input[type="button"].disabled,
.toolbar input[type="button"].disabled:hover,
.toolbar input[type="submit"].disabled,
.toolbar input[type="submit"].disabled:hover
{
    color: #8696A3;
}

/*
form
*/

div.group
{
    background-color: #FAFAFA;
}

label.field
{
    color: #222222;
}

a.nvs:link,
a.nvs:active,
a.nvs:visited
{
    text-decoration: none;
    color: #222222;
}

a.nvs:hover
{
    text-decoration: none;
    color: #666666;
}

/*
icons
*/

/*
table
*/

table.nvs > thead,
table.nvs > tfoot
{
    background-color: #dfdfde;
}

table.nvs > thead
{
    border-top: dotted 1px #a7a79f;
    border-bottom: dotted 1px #a7a79f;
}

table.nvs > tfoot
{
    border-bottom: dotted 1px #728da3;
}

table.nvs > tbody > tr.alt
{
    background-color: #e0e9f1;
}

table.nvs > tbody > tr
{
    border-bottom: dotted 1px #728da3;
}

table.nvs > tbody > tr:hover
{
    background-color: #ebeff2;
}