/*
general css
*/

html
{
    background: #ffffff url(volvogroup/background.gif) repeat-y scroll left top;
}

body
{
    background: transparent url(volvogroup/background.gif) repeat-y scroll right top;
}

#nvsMainWindow
{
    background-color: #ffffff;
    margin: 0 18px 0 18px;
    border-left: 1px solid #9e9e94;
    border-right: 1px solid #9e9e94;
}

/*
header, body and footer
*/

#nvsHeader
{
    border: 0 !important;
    padding: 0 !important;
    overflow: visible !important;
    z-index: 1 !important;
    height: 78px;
}

#nvsSurroundingArea
{
    background: #ffffff url("volvogroup/brandingBg_min.gif") no-repeat right center;
}

#nvsApplicationId
{
    padding: 16px 0 16px 18px;
}

#nvsApplicationId h1
{
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    display: inline;
}

#nvsApplicationId h1 a
{
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

#nvsApplicationId h2
{
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    margin-left: 15px;
    display: inline;
}

#nvsSupportingFunctions
{
    margin: 9px 19px 0 0;
}

#nvsSupportingFunctions a
{
    background: url("volvogroup/ic_bullet.gif") no-repeat left center;
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    padding-left: 8px;
    margin-left: 8px;
    color: #000000;
}

#nvsUserId
{
    margin: 9px 19px 0 0;
    color: #222222;
}

#nvsContent
{
    border: 0 !important;
    padding-top: 6px !important;
    z-index: 0;
}

#nvsBody {
    padding: 6px 10px 0 10px !important;
}

#nvsFooter
{
    border: 0 !important;
    border-top: 1px solid #B8BBC3 !important;
    padding: 3px 0 6px !important;
}

#nvsVersion
{
    margin-right: 19px;
}

#nvsLegal
{
    margin-left: 19px;
}

/*
header tags
*/

h1.nvs
{
    font-weight: normal;
    font-size: 22px;
    padding-bottom: 8px;
    color: #a7a79f;
}

h2.nvs
{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 8px;
    color: #666666;
}

h3.nvs
{
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 8px;
    color: #222222;
}

h4.nvs
{
    font-weight: bold;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 5px;
    border-bottom: 1px dotted #666666;
    margin-bottom: 7px;
    color: #666666;
}

h5.nvs
{
    font-weight: bold;
    font-size: 11px;
    color: #222222;
    margin-bottom: 7px;
}

/*
command area
*/

.commandArea
{
    background-color: transparent;
    border: 1px solid #CDCDCD;
}

.commandArea input[type="button"],
.commandArea input[type="submit"]
{
    color: #222222;
    background-color: #e3e9e7;
    border-color: #6b6e6d;
}

.commandArea input[type="button"].disabled,
.commandArea input[type="submit"].disabled
{
    color: #9D9DA1;
    background-color: #E5E5E5;
    border-color: #a7a79f;
}

/*
toolbar
*/

.toolbar
{
    background: url("volvogroup/toolbarBg.gif") repeat-x left top ;
    background-color: #CDCDCD;
    border-color: #c9d2ce ;
}

.toolbar .delimiter
{
    border-color: #b1bbb6;
}

.toolbar input[type="button"],
.toolbar input[type="submit"]
{
    color: #333333;
}

.toolbar input[type="button"]:hover,
.toolbar input[type="submit"]:hover
{
    color: #000000;
    background-color: #ecf2f0;
    border-color: #b1bbb6;
}

.toolbar input[type="button"].disabled,
.toolbar input[type="button"].disabled:hover,
.toolbar input[type="submit"].disabled,
.toolbar input[type="submit"].disabled:hover
{
    color: #9ba4a0;
}

/*
form
*/

div.group
{
    background-color: #FAFAFA;
}

label.field
{
    color: #222222;
}

a.nvs:link,
a.nvs:active,
a.nvs:visited
{
    text-decoration: none;
    color: #222222;
}

a.nvs:hover
{
    text-decoration: none;
    color: #666666;
}

/*
icons
*/

/*
table
*/

table.nvs > thead,
table.nvs > tfoot
{
    background-color: #dfdfde;
}

table.nvs > thead
{
    border-top: dotted 1px #666666;
    border-bottom: dotted 1px #666666;
}

table.nvs > tfoot
{
    border-bottom: dotted 1px #a1b6af;
}

table.nvs > tbody > tr.alt
{
    background-color: #e3e9e7;
}

table.nvs > tbody > tr
{
    border-bottom: dotted 1px #a1b6af;
}

table.nvs > tbody > tr:hover
{
    background-color: #ecf2f0;
}