/*
general fix of kendo css
*/

/*
fix pickers
*/

.k-widget.k-multiselect.k-state-disabled .k-button,
.k-widget.k-multiselect.k-state-disabled .k-button:hover
{
    background-color: #E5E5E5;
    border-color: #a7a79f;
}

.k-widget.k-multiselect.k-state-disabled .k-button > span,
.k-widget.k-multiselect.k-state-disabled .k-button:hover > span
{
    color: #9D9DA1;
}

/*
fix calendar
*/

.k-widget.k-calendar .k-header
{
    background-color: #dfdfde;
}

.k-widget.k-calendar th
{
    background-color: #e0e9f1;
    color: #222222;
}

.k-widget.k-calendar .k-other-month .k-link
{
    color: #adbfcd;
}

.k-widget.k-calendar .k-today
{
    background-color: #e0e9f1;
}

.k-widget.k-calendar .k-state-focused
{
    background-color: #ffffff;
}

.k-widget.k-calendar .k-state-selected
{
    background-color: #adbfcd;
}

.k-widget.k-calendar .k-state-hover
{
    background-color: #adbfcd;
}

/*
fix menu
*/

.k-widget.k-menu.k-menu-horizontal
{
    background: url("volvoba/bgTopMenu.gif") left top repeat-x #ffffff;
    border: none;
    border-bottom: 2px solid #ffffff;
    height: 22px;
}

.k-widget.k-menu.k-menu-horizontal *
{
    font-weight: bold;
    color: #000000;
}

.k-widget.k-menu.k-menu-horizontal > .k-item
{
    background: url("volvoba/bgTabCard.gif") right top no-repeat #ffffff;
    border: none;
    height: 22px;
}

.k-widget.k-menu.k-menu-horizontal > .k-item.k-state-highlight,
.k-widget.k-menu.k-menu-horizontal > .k-item.k-state-hover,
.k-widget.k-menu.k-menu-horizontal > .k-item.k-state-border-down
{
    background: url("volvoba/bgTabCardActive.gif") right top no-repeat #ffffff;
}

.k-widget.k-menu.k-menu-horizontal > .k-item.k-state-highlight > .k-link,
.k-widget.k-menu.k-menu-horizontal > .k-item.k-state-hover > .k-link,
.k-widget.k-menu.k-menu-horizontal > .k-item.k-state-border-down > .k-link
{
    color: #000000;
}

.k-widget.k-menu.k-menu-horizontal > .k-item.k-state-disabled .k-link
{
    color: #999999;
}

.k-widget.k-menu.k-menu-horizontal > .k-item > .k-link.k-state-active,
.k-widget.k-menu.k-menu-horizontal > .k-item > .k-link.k-state-border-down
{
    background: url("volvoba/bgTabCardActive.gif") right top no-repeat #ffffff;
    color: #000000;
}

.k-widget.k-menu.k-menu-vertical,
.k-widget.k-menu .k-group
{
    border: 1px solid #666666;
    background: url("volvoba/bkg_menu_level_2.gif") left top repeat-y #fafafa;
    text-indent: 22px;
}

.k-widget.k-menu.k-menu-vertical *,
.k-widget.k-menu .k-group *
{
    font-family: tahoma;
    font-weight: normal;
    color: #4f4f4f;
}

.k-widget.k-menu.k-menu-vertical .k-image,
.k-widget.k-menu .k-group .k-image
{
    position: relative;
    left: -24px;
    margin-right: -10px;
}

.k-widget.k-menu.k-menu-vertical > .k-item,
.k-widget.k-menu .k-group > .k-item
{
    border: 1px solid transparent;
}

.k-widget.k-menu.k-menu-vertical > .k-item.k-state-selected,
.k-widget.k-menu.k-menu-vertical > .k-item.k-state-hover,
.k-widget.k-menu.k-menu-vertical > .k-item.k-state-border-down,
.k-widget.k-menu.k-menu-vertical > .k-item.k-state-border-down.k-state-hover,
.k-widget.k-menu .k-group > .k-item.k-state-selected,
.k-widget.k-menu .k-group > .k-item.k-state-hover,
.k-widget.k-menu .k-group > .k-item.k-state-border-down,
.k-widget.k-menu .k-group > .k-item.k-state-border-down.k-state-hover
{
    background-color: #ebeff2;
    border-color: #adbfcd;
}

.k-widget.k-menu.k-menu-vertical > .k-item.k-state-border-down,
.k-widget.k-menu .k-group > .k-item.k-state-border-down
{
    border-color: #adbfcd;
}

.k-widget.k-menu.k-menu-vertical > .k-item.k-state-disabled .k-link,
.k-widget.k-menu .k-group > .k-item.k-state-disabled .k-link
{
    color: #999999;
}

.k-widget.k-menu.k-menu-vertical > .k-item > .k-link.k-state-active,
.k-widget.k-menu.k-menu-vertical > .k-item > .k-link.k-state-border-down,
.k-widget.k-menu .k-group > .k-item > .k-link.k-state-active,
.k-widget.k-menu .k-group > .k-item > .k-link.k-state-border-down
{
    background-color: #ebeff2;
}

/*
fix splitter
*/

/*
fix slider
*/

/*
fix tooltip
*/

.k-widget.k-tooltip
{
    border: 1px solid #E0E9F1;
    background-color: #DFDFDE;
}

/*
fix upload
*/

.k-widget.k-upload.k-state-disabled .k-button,
.k-widget.k-upload.k-state-disabled .k-button:hover
{
    color: #9D9DA1;
    background-color: #E5E5E5;
    border-color: #a7a79f;
}

.k-widget.k-upload.k-state-disabled .k-button > span,
.k-widget.k-upload.k-state-disabled .k-button:hover > span
{
    color: #9D9DA1;
}

/*
fix window
*/

.k-widget.k-window,
.k-widget.k-window.k-state-focused
{
    border: 1px solid #CDCDCD;
    -webkit-box-shadow: 1px 1px 7px 1px #AAAAAA;
    box-shadow: 1px 1px 7px 1px #AAAAAA;
}

.k-widget.k-window .k-window-titlebar
{
    background-color: #E0E9F1;
}

.k-widget.k-window .k-window-titlebar .k-window-title
{
    color: #000000;
}

.k-window .k-window-titlebar .k-link:link, 
.k-window .k-window-titlebar .k-link:visited
{
    color: #FFFFFF;
}

/*
fix panelbar
*/

/*
fix panelbar nvs-collapsible-panel
*/

.k-widget.k-panelbar.nvs-collapsible-panel
{
    background-color: #FAFAFA;
    padding-bottom: 1px;
}

.k-widget.k-panelbar.nvs-collapsible-panel > .k-item > .k-link.k-header
{
    background-color: #ffffff;
    border: none;
    border-bottom: dotted 1px #666666;
    font-weight: bold;
    font-size: 12px;
    color: #666666;
}

.k-widget.k-panelbar.nvs-collapsible-panel > .k-item > .k-content
{
    background-color: #FAFAFA;
}

/*
fix tabstrip
*/

.k-widget.k-tabstrip > .k-tabstrip-items > .k-item
{
    border-color: #e0e9f1;
    background-color: #e0e9f1;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.k-widget.k-tabstrip > .k-tabstrip-items > .k-item > .k-link
{
    color: #000000;
}

.k-widget.k-tabstrip > .k-tabstrip-items > .k-item.k-state-active
{
    border-color: #9db1c1;
    background-color: #9db1c1;
}

.k-widget.k-tabstrip > .k-tabstrip-items > .k-item.k-state-active > .k-link
{
    color: #ffffff;
}

.k-widget.k-tabstrip > .k-tabstrip-items > .k-item.k-state-hover
{
    border-color: #9db1c1;
    background-color: #9db1c1;
}

.k-widget.k-tabstrip > .k-tabstrip-items > .k-item.k-state-hover > .k-link
{
    color: #ffffff;
}

.k-widget.k-tabstrip > .k-tabstrip-items > .k-item.k-state-disabled
{
    border-color: #e0e9f1;
    background-color: #e0e9f1;
}

.k-widget.k-tabstrip > .k-tabstrip-items > .k-item.k-state-disabled > .k-link
{
    color: #AAAAAA;
}

.k-widget.k-tabstrip > .k-content
{
    background-color: #FAFAFA;
    border: 1px dotted #A7A79F;
}

.k-tabstrip-items .k-loading.k-complete
{
    width: 79%;
    margin-left: 5px;
}

/*
fix treeview
*/

.k-treeview .k-in.k-state-focused
{
    border-color: transparent;
}

.k-treeview .k-in.k-state-hover,
.k-treeview .k-in.k-state-selected
{
    border-color: #E0E9F1;
}

/*
fix button
*/

.k-button,
.k-button:hover
{
    color: #222222;
    background-color: #E0E9F1;
    border-color: #728DA3;
}

.k-button.k-state-disabled,
.k-button.k-state-disabled:hover
{
    color: #9D9DA1;
    background-color: #E5E5E5;
    border-color: #a7a79f;
}

.k-button > span,
.k-button:hover > span
{
    color: #222222;
}

.k-button.k-state-disabled > span,
.k-button.k-state-disabled:hover > span
{
    color: #9D9DA1;
}

/*
fix grid
*/

.k-header.k-grid-toolbar.k-grid-top
{
    background-color: #9cb0c1;
}

.k-widget.k-grid .k-grouping-header
{
    background: #e0e9f1 url("volvoba/toolbarBg.gif") repeat-x left bottom;
    border: 1px solid #728da3;
}

.k-widget.k-grid .k-toolbar + .k-grouping-header
{
    border-top: none;
}

.k-widget.k-grid .k-toolbar .toolbar {
    height: 21px;
}

.k-widget.k-grid .k-grouping-header .k-group-indicator
{
    border-color: #728da3;
}

.k-widget.k-grid .k-grouping-header .k-group-indicator .k-button,
.k-widget.k-grid .k-grouping-header .k-group-indicator .k-button:hover
{
    border: none;
}

.k-widget.k-grid table thead tr th
{
    border: none;
}

.k-widget.k-grid table thead tr th .k-link
{
    font-weight: bold;
}

.k-widget.k-grid table thead tr th:hover
{
    background-color: #E0E4E8; /* header color #dfdfde and alt row color #e0e9f1 in the mix */
}

.k-widget.k-grid table thead tr th .k-grid-filter.k-state-active
{
    background-color: #E0E4E8; /* header color #dfdfde and alt row color #e0e9f1 in the mix */
}

div.k-grid-header,
div.k-grid-footer
{
    border-bottom: dotted 1px #a7a79f;
}

.k-alt,
.k-separator
{
    background-color: #e0e9f1;
}

.k-alt.k-state-selected
{
    background-color: #DFDFDE;
}

.k-widget.k-grid table tbody tr td
{
    border: none;
    line-height: normal;
}

.k-widget.k-grid table tbody tr.k-grouping-row td,
.k-widget.k-grid table tbody tr td.k-group-cell
{
    background-color: #E0E4E8; /* header color #dfdfde and alt row color #e0e9f1 in the mix */
}

.k-widget.k-grid table tbody tr td
{
    border-bottom: dotted 1px #728da3;
}

.k-widget.k-grid table tbody tr:hover td
{
    background-color: #ebeff2;
    color: #000000;
}

.k-widget.k-grid .k-pager-wrap
{
    border: none;
}

.k-widget.k-grid .k-pager-wrap .k-link
{
    border-color: transparent;
    background-color: transparent;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.k-widget.k-grid .k-pager-wrap .k-link:hover
{
    border-color: transparent;
    background-color: #e0e9f1;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.k-widget.k-grid .k-pager-numbers .k-state-selected
{
    border-color: transparent;
    background-color: Highlight;
    color: HighlightText;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

/*
fix editor
*/

/*
slider
*/
.k-slider-track
{
    background-color: #E0E9F1;
}

/*
progressbar
*/

.k-progressbar
{
    background-color: #E0E9F1;
}

.k-progressbar .k-state-selected
{
    background-color: #DFDFDE;
}

/* Checkbox */
.k-checkbox-label:before {
  border-color: #c5c5c5;
  background: #fff;
  border-radius: 3px;
}
.k-checkbox-label:hover:before,
.k-checkbox:checked + .k-checkbox-label:hover:before {
  border-color: #acacac;
  box-shadow: none;
}
.k-checkbox:checked + .k-checkbox-label:before {
  background-color: #ffffff;
  border-color: #a0dba9;
  color: #030303;
}
.k-checkbox-label:active:before {
  box-shadow: 0 0 3px 0 #000000;
  border-color: #030303;
}
.k-checkbox:checked + .k-checkbox-label:active:before {
  box-shadow: 0 0 3px 0 #000000;
  border-color: #030303;
}
.k-checkbox:disabled + .k-checkbox-label {
  color: #9f9f9f;
}
.k-checkbox:disabled + .k-checkbox-label:hover:before {
  box-shadow: none;
}
.k-checkbox:disabled + .k-checkbox-label:before,
.k-checkbox:checked:disabled + .k-checkbox-label:before,
.k-checkbox:checked:disabled + .k-checkbox-label:active:before,
.k-checkbox:checked:disabled + .k-checkbox-label:hover:before {
  color: #9f9f9f;
  background: #edebea;
  border-color: #9cd9a6;
  border-radius: 3px;
}
.k-checkbox:focus + .k-checkbox-label:before {
  border-color: #030303;
  box-shadow: 0 0 3px 0 #000000;
}
.k-checkbox:indeterminate + .k-checkbox-label:after {
  background-color: #030303;
  background-image: none;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0) 100%);
  border-color: #030303;
  border-radius: 2px;
}
.k-checkbox:indeterminate:hover + .k-checkbox-label:after {
  border-color: #030303;
  background-color: #030303;
}
/* Radio */
.k-radio-label:before {
  border-color: #c5c5c5;
  border-radius: 50%;
  background-color: #fff;
  border-width: 1px;
}
.k-radio-label:hover:before,
.k-radio:checked + .k-radio-label:hover:before {
  border-color: #acacac;
  box-shadow: none;
}
.k-radio:checked + .k-radio-label:after {
  background-color: #080808;
  border-radius: 50%;
}
.k-radio-label:active:before {
  border-color: #030303;
  box-shadow: 0 0 3px 0 #000000;
}
.k-radio:checked + .k-radio-label:active:before {
  box-shadow: 0 0 3px 0 #000000;
  border-color: #030303;
}
.k-radio:disabled + .k-radio-label {
  color: #9f9f9f;
}
.k-radio:disabled + .k-radio-label:before,
.k-radio:disabled + .k-radio-label:active:before,
.k-radio:disabled + .k-radio-label:hover:after,
.k-radio:disabled + .k-radio-label:hover:before {
  background: #edebea;
  border-color: #bfbfbf;
  box-shadow: none;
}
.k-radio:focus + .k-radio-label:before {
  border-color: #030303;
  box-shadow: 0 0 3px 0 #000000;
}