/*
general css
*/

html
{
    background: #ffffff url(renault/bkg_bodyleft.gif) repeat-y scroll left top;
}

body
{
    background: transparent url(renault/bkg_bodyright.gif) repeat-y scroll right top;
}

#nvsMainWindow
{
    background-color: #ffffff;
    margin: 0 29px 0 29px;
}

/*
header, body and footer
*/

#nvsHeader
{
    border: 0 !important;
    padding: 0 !important;
    overflow: visible !important;
    height: 80px;
}

#nvsSurroundingArea
{
    background: #ffffff;
}

#nvsApplicationId
{
    padding: 7px 0 8px 18px;
}

#nvsApplicationId h1
{
    font-weight: bold;
    font-size: 23px;
    line-height: 23px;
    color: #000000;
}

#nvsApplicationId h1 a
{
    font-weight: bold;
    font-size: 23px;
    line-height: 23px;
    color: #000000;
}

#nvsApplicationId h2
{
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    margin-top: 2px;
    text-align: right;
    color: #000000;
}

#nvsSupportingFunctions
{
    margin: 9px 19px 0 0;
}

#nvsSupportingFunctions a
{
    background: url("renault/ic_bullet.gif") no-repeat left center;
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    padding-left: 8px;
    margin-left: 8px;
    color: #000000;
}

#nvsUserId
{
    margin: 9px 19px 0 0;
    color: #000000;
}

#nvsContent
{
    border: 0 !important;
    padding: 0 !important;
    z-index: 0;
}

#nvsBody {
    border: 0 !important;
    padding: 15px 0 0 0 !important;
}

#nvsFooter
{
    border: 0 !important;
    border-top: 1px solid #B8BBC3 !important;
    padding: 3px 0 6px !important;
}

#nvsVersion
{
    margin-right: 19px;
}

#nvsLegal
{
    margin-left: 19px;
}

/*
header tags
*/

h1.nvs
{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 8px;
}

h2.nvs
{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 8px;
    color: #999999;
}

h3.nvs
{
    font-weight: bold;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 5px;
    border-bottom: 1px dotted #666666;
    margin-bottom: 7px;
    color: #cc0000;
}

h4.nvs
{
    font-weight: bold;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 5px;
    border-bottom: 1px dotted #666666;
    margin-bottom: 7px;
    color: #666666;
}

h5.nvs
{
    font-weight: bold;
    font-size: 11px;
    color: #666666;
    margin-bottom: 7px;
}

/*
command area
*/

.commandArea
{
    background-color: transparent;
    border: 1px solid #CC0000;
}

.commandArea input[type="button"],
.commandArea input[type="submit"]
{
    color: #ffffff;
    background-color: #CC0000;
    border: 1px solid #CC0000;
}

.commandArea input[type="button"].disabled,
.commandArea input[type="submit"].disabled
{
    color: #666666;
    background-color: #CCCCCC;
    border-color: #d9d9d9;
}

/*
toolbar
*/

.toolbar
{
    background-color: #F9F9F9;
    border-color: #d9d9d9;
}

.toolbar .delimiter
{
    border-color: #cccccc;
}

.toolbar input[type="button"],
.toolbar input[type="submit"]
{
    color: #70705a;
}

.toolbar input[type="button"]:hover,
.toolbar input[type="submit"]:hover
{
    color: #000000;
    background-color: #FDCFCF;
    border-color: #999999;
}

.toolbar input[type="button"].disabled,
.toolbar input[type="button"].disabled:hover,
.toolbar input[type="submit"].disabled,
.toolbar input[type="submit"].disabled:hover
{
    color: #D9D9D9;
}

/*
form
*/

div.group
{
    background-color: #F9F9F9;
}

label.field
{
    color: #666666;
}

a.nvs:link,
a.nvs:active,
a.nvs:visited
{
    text-decoration: none;
    color: #CC0000;
}

a.nvs:hover
{
    text-decoration: none;
    color: #666666;
}

/*
icons
*/

/*
table
*/

table.nvs > thead,
table.nvs > tfoot
{
    background-color: #dbdbdb;
}

table.nvs > thead
{
    border-top: solid 1px #cc0000;
    border-bottom: solid 1px #666666;
}

table.nvs > tfoot
{
    border-bottom: solid 1px #dbdbdb;
}

table.nvs > tbody > tr.alt
{
    background-color: #f9f9f9;
}

table.nvs > tbody > tr
{
    border-bottom: solid 1px #dbdbdb;
}

table.nvs > tbody > tr:hover
{
    background-color: #faecec;
}