<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?include Defines.wxi?>

  <!--Find information and tutorials in https://teamplace.volvo.com/sites/volvoit-dotNET/DeveloperTools/Windows%20installer%20XML.aspx-->

  <Fragment>

    <ComponentGroup Id="MenuComponents" Directory="ProductMenuFolder">
      <Component Id="ProductMenuComponents" Guid="{06CD896C-B7AC-47AA-AA96-17F6F13A7363}">

        <!--<Shortcut Id="UninstallPackage" Directory="ProductMenuFolder" Name="Uninstall package"
                  Target="[System64Folder]msiexec.exe" Arguments="/x {[ProductCode]}" Description="Uninstalls $(var.YourApplicationReference.TargetName)"/>-->
        <RemoveFolder Id='ProductMenuFolder' On='uninstall' />
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />

      </Component>
    </ComponentGroup>

    <!--Folders-->
    <DirectoryRef Id="INSTALLFOLDER">
      <Directory Id="Contract" Name="Contract" />
      <Directory Id="Contracts" Name="Contracts" />
      <Directory Id="DomainLayer" Name="DomainLayer" />
      <Directory Id="ptBR" Name="pt-BR" />
      <Directory Id="Transformations" Name="Transformations" />
    </DirectoryRef>

    <DirectoryRef Id="DomainLayer">
      <Directory Id="Entities" Name="Entities" />
    </DirectoryRef>

    <ComponentGroup Id="WindowsService" Directory="INSTALLFOLDER">
      <Component Id="Application" Guid="{2236AEFA-0649-47C4-A9F3-9CEA3AC459BA}">
        <File KeyPath="yes" Vital="yes" Source="$(var.POSProxy.WindowsService.TargetPath)" />

        <RegistryKey Root="HKLM"
                           Key="SOFTWARE\VolvoIT\POSListener">
          <RegistryValue Id="ConfigTransform"
                         Action="write"
                         Type="string"
                         Name="POSListener.ConfigTransform"
                         Value="[CONFIGTRANSFORM]" />
        </RegistryKey>
        
        <!--Register this file as a Windows service-->
        <ServiceInstall Id="ServiceInstaller"
                        Type="ownProcess"
                        Description="POS Parts Management Listener ([CONFIGTRANSFORM])"
                        DisplayName="POS Parts Management Listener ([CONFIGTRANSFORM])"
                        Vital="yes"
                        Start="auto"
                        ErrorControl="ignore"
                        Interactive="no"
                        Name="POSProxy.WindowsService.[CONFIGTRANSFORM]"
                        Account="[ACCOUNT]"
                        Password="[PASSWORD]">

          <ServiceConfig Id="svcConfig" DelayedAutoStart="yes" OnInstall="yes" OnReinstall="yes" OnUninstall="no" />
        </ServiceInstall>

        <!--Set the user to be used by the service-->
        <util:User Id="ServiceUser" Name="[ACCOUNT]" Password="[PASSWORD]" CreateUser="no" LogonAsService="yes" UpdateIfExists="yes" />

        <!--Added example of how to stop service automatically-->
        <ServiceControl Id="ServiceControl" Stop="both" Remove="uninstall" Name="POSProxy.WindowsService.[CONFIGTRANSFORM]" Wait="yes" />

        <!--Register event source-->
        <util:EventSource Name="POSProxy.WindowsService.[CONFIGTRANSFORM]" Log="Application" EventMessageFile="%SystemRoot%\Microsoft.NET\Framework\v2.0.50727\EventLogMessages.dll"/>
      </Component>
      
      <Component Id="Config" Guid="{58E67463-6567-4EAD-8F06-D5FCD627A0E4}">
        <File KeyPath="yes" Vital="yes" Source="$(var.POSProxy.WindowsService.TargetPath).config" />
      </Component>

      <ComponentRef Id="Helpers"/>
      <ComponentRef Id="Files"/>
      <!--<ComponentRef Id="FilesContracts"/>-->
      <ComponentRef Id="FilesptBR"/>
      <ComponentRef Id="FilesTransformations"/>
    </ComponentGroup>

    <Component Id="Helpers" Guid="{1889A147-A1F7-4652-A9C0-44CC2F35EECC}" Directory="INSTALLFOLDER">
      <File Source="ConfigTransformations.cmd"/>
      <File Source="ctt.exe"/>
      <File Source="ctt.exe.config"/>
    </Component>
    
    <Component Id="Files" Guid="{64114285-E872-451C-90C2-4A327B668AC4}" Directory="INSTALLFOLDER">
      <File Source="$(var.POSProxy.WindowsService.TargetDir)AutoMapper.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)AutoMapper.xml" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Entlib.config" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Iesi.Collections.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Iesi.Collections.xml" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.EnterpriseLibrary.Common.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.EnterpriseLibrary.Common.xml" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.EnterpriseLibrary.Data.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.EnterpriseLibrary.Data.xml" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.xml" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.EnterpriseLibrary.Logging.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.EnterpriseLibrary.Logging.xml" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.EnterpriseLibrary.Validation.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.EnterpriseLibrary.Validation.xml" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.ServiceLocation.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.ServiceLocation.xml" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.Unity.Configuration.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.Unity.Configuration.xml" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.Unity.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.Unity.Interception.Configuration.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.Unity.Interception.Configuration.xml" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.Unity.Interception.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.Unity.Interception.xml" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Microsoft.Practices.Unity.xml" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)NHibernate.Caches.SysCache2.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)NHibernate.config" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)NHibernate.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)NHibernate.xml" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)OrderDomain.Infrastructure.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)OrderDomain.Model.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)OrderDomain.Resources.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)OrderDomain.Services.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)PartDomain.Infrastructure.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)PartDomain.Model.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)PartDomain.Services.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)POSGateway.Fire.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)WarehouseProxy.RequestReply.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)WarehouseProxy.Subscribe.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)UserDomain.Infrastructure.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)UserDomain.Model.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)UserDomain.Resources.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)UserDomain.Services.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Volvo.NVS.Core.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Volvo.NVS.Integration.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Volvo.NVS.Integration.xml" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Volvo.NVS.Integration.WebsphereMQ.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Volvo.NVS.Integration.WebsphereMQ.xml" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Volvo.NVS.Logging.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Volvo.NVS.Logging.xml" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Volvo.NVS.Persistence.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Volvo.NVS.Persistence.NHibernate.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Volvo.NVS.Persistence.NHibernate.xml" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Volvo.NVS.Persistence.xml" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Volvo.NVS.Security.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Volvo.NVS.Utilities.WindowsServices.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Volvo.NVS.Integration.WindowsServices.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Volvo.NVS.Utilities.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)IntegrationUtility.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)System.IdentityModel.Tokens.Jwt.dll" />
    </Component>

    <!--<Component Id="FilesContracts" Guid="{412E9F71-9D88-4E68-B679-81E869BCFC4C}" Directory="Contracts">
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Contracts\OrderConfirmation.xsd" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Contracts\PartReservationRequest.xsd" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Contracts\PartReservationResponse.xsd" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Contracts\PartsAvailability.xsd" />
    </Component>-->

    <Component Id="FilesptBR" Guid="{4BA19AA4-B200-4C6C-A9B1-457A4DBE7AAF}" Directory="ptBR">
      <File Source="$(var.POSProxy.WindowsService.TargetDir)pt-BR\OrderDomain.Resources.resources.dll" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)pt-BR\UserDomain.Resources.resources.dll" />
    </Component>

    <Component Id="FilesTransformations" Guid="{8F724694-EAA8-4247-B9D0-91E13E79DE07}" Directory="Transformations">
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Transformations\App.DEV.config" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Transformations\App.Prod.config" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Transformations\App.QA.config" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Transformations\App.SIT.config" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Transformations\App.ST.config" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Transformations\NHibernate.DEV.config" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Transformations\NHibernate.Prod.config" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Transformations\NHibernate.QA.config" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Transformations\NHibernate.SIT.config" />
      <File Source="$(var.POSProxy.WindowsService.TargetDir)Transformations\NHibernate.ST.config" />
    </Component>

  </Fragment>

</Wix>