<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Defines.wxi?>

  <!--Find information and tutorials in https://teamplace.volvo.com/sites/volvoit-dotNET/DeveloperTools/Windows%20installer%20XML.aspx-->

  <Fragment>

    <UI>
      <!--Transformations Dialog-->
      <Dialog Id="TransformationDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next"/>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back"/>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="&amp;Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Select the transformation to be applied to this installation"/>
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Transformation"/>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner"/>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0"/>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0"/>

        <!--User settings added here-->

        <Control Id="TransformationLabel" Type="Text" X="20" Y="60" Width="290" Height="12" Text="Transformation:"/>
        <Control Id="Transformations" Type="ComboBox" Sorted="yes" ComboList="yes" Property="CONFIGTRANSFORM" X="20" Y="73" Width="290" Height="18" >
          <ComboBox Property="CONFIGTRANSFORM">
            <ListItem Text="DEV" Value="DEV" />
            <ListItem Text="ST" Value="ST" />
            <ListItem Text="SIT" Value="SIT"/>
            <ListItem Text="QA" Value="QA"/>
            <ListItem Text="Prod" Value="Prod"/>
          </ComboBox>
        </Control>
        <!--User settings added here-->
      </Dialog>
      <!--End Transformations Dialog-->
      <!--User account Dialog-->
      <Dialog Id="ServiceAccountDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">


        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="&amp;Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>

        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Enter service account details.">

        </Control>
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Service account" />
        <Control Type="Text" Width="322" Height="26" X="25" Y="56" Id="BodyLabel" Text="Specify the logon account for the [ProductName] service." NoPrefix="yes">

        </Control>
        <Control Type="Text" Width="275" Height="10" X="25" Y="98" Id="AccountLabel" Text="&amp;Account name (Example: domain\user or user@domain):" />
        <Control Type="Edit" Width="194" Height="15" X="25" Y="111" Id="AccountTextbox" Property="ACCOUNT" />
        <Control Type="Text" Width="275" Height="10" X="25" Y="135" Id="PasswordLabel" Text="Pa&amp;ssword:" />
        <Control Type="Edit" Width="194" Height="15" X="25" Y="148" Id="PasswordTextbox" Property="PASSWORD" Password="yes" />

        <Control Id="WarningLabel" Type="Text" X="40" Y="170" Width="200" Height="40" Text="The account entered here will not be validated. Make sure that the account details entered are correct." />

      </Dialog>
      <!--End User account Dialog-->
    </UI>

    <!--
    You can replace all these settings with your own (everyone should be WixVariable):
    <WixVariable Id="WixUILicenseRtf" Value="bobpl.rtf" />
    WixUIBannerBmp - Top banner 493 × 58 
    WixUIDialogBmp - Background bitmap used on the welcome and completion dialogs 493 × 312 
    WixUIExclamationIco - Exclamation icon on the WaitForCostingDlg 32 × 32 
    WixUIInfoIco - Information icon on the cancel and error dialogs 32 × 32 
    WixUINewIco - Button glyph on the BrowseDlg 16 × 16 
    WixUIUpIco - Button glyph on the BrowseDlg 16 × 16
    -->

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <UI Id="USERUI">
      <!--Refs for the default WiX UI dialogs-->
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />

      <!--Sample of custom dialog-->
      <DialogRef Id="TransformationDlg"/>

      <!-- Skipping license dialog - to keep the license dialog remove these two line below -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>

      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="TransformationDlg" Order="5"><![CDATA[WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"]]></Publish>

      <!-- TransformationDlg->Back navigates to InstallDirDlg -->
      <Publish Dialog="TransformationDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg">1</Publish>
      <Publish Dialog="TransformationDlg" Control="Next" Event="NewDialog" Value="ServiceAccountDlg">1</Publish>
      <!-- TransformationDlg->Next navigates to VerifyReadyDlg -->
      <!-- ServiceAccountDlg->Back navigates to InstallDirDlg -->
      <Publish Dialog="ServiceAccountDlg" Control="Back" Event="NewDialog" Value="TransformationDlg">1</Publish>
      <Publish Dialog="ServiceAccountDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <!-- ServiceAccountDlg->Next navigates to VerifyReadyDlg -->

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="ServiceAccountDlg">NOT Installed</Publish>
    </UI>

  </Fragment>

</Wix>