<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".-->

    <!-- integration configuration -->
    <volvo.nvs.integration>
        <!-- .. and it's channels -->
        <channels>
          <add name="PartReservationResponseQueue" uri="mqin://eowyn-a3.it.volvo.net@EOWYN_A3:1437/ADTNET.SRV01?queue=ADTNET.POS.QA.PARTRES.REPLY.IN?PollInterval=10" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
          <add name="PartsAvailabilityQueue" uri="mqin://eowyn-a3.it.volvo.net@EOWYN_A3:1437/ADTNET.SRV01?queue=ADTNET.POS.QA.PARTS.IN?PollInterval=10" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        </channels>
    </volvo.nvs.integration>

</configuration>