<?xml version="1.0" encoding="utf-8" ?>

<hibernate-configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
        <property name="connection.connection_string" xdt:Locator="XPath(//*[local-name()='hibernate-configuration']//*[local-name()='property'][@name='connection.connection_string'])" xdt:Transform="Replace">
          Data Source=nvs-dev.it.volvo.net;Initial Catalog=POS-DEV;Integrated Security=True
        </property>
    </session-factory>
</hibernate-configuration>
