<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  
  <?include Defines.wxi?>

  <!--Find information and tutorials in https://teamplace.volvo.com/sites/volvoit-dotNET/DeveloperTools/Windows%20installer%20XML.aspx-->

  <Fragment>
    
    <ComponentGroup Id="MenuComponents" Directory="ProductMenuFolder">
      <Component Id="ProductMenuComponents" Guid="57dd9810-28d9-40b5-9f89-36d279437069">

        <!--<Shortcut Id="UninstallPackage" Directory="ProductMenuFolder" Name="Uninstall package"
                  Target="[System64Folder]msiexec.exe" Arguments="/x {[ProductCode]}" Description="Uninstalls $(var.YourApplicationReference.TargetName)"/>-->
        <RemoveFolder Id='ProductMenuFolder' On='uninstall' />
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />

      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!--<Component Id="Application">-->
        <!--Add your file here-->
        <!--<File KeyPath="yes" Vital="yes" Source="$(var.YourApplicationReference.TargetPath)" />-->
      <!--</Component>-->
      <!--<Component Id="Config">-->
        <!--Add your file here-->
        <!--<File KeyPath="yes" Vital="yes" Source="$(var.YourApplicationReference.TargetPath).config" />-->
      <!--</Component>-->
    </ComponentGroup>

    <DirectoryRef Id="INSTALLFOLDER">

      <Directory Id="SETUPFILESDIR" Name="SetupFiles">
        <!--Add components to the different Directories below, remove the Directories not needed:-->
        <Component Id="ZipFile" Guid="5a542986-dd90-441f-af95-d581b6760ce6" Feature="ProductFeature">
          <File Source="$(var.WebSrcPath)$(var.WEBDEPLOYPROJECTNAME).zip" Vital="yes" KeyPath="yes"/>
        </Component>

        <Component Id="CmdFile" Guid="b1196747-9b4b-41f2-a19b-85425df07d22" Feature="ProductFeature">
          <File Id="CmdFile" Source="$(var.WebSrcPath)$(var.WEBDEPLOYPROJECTNAME).deploy.cmd" Vital="yes" KeyPath="yes"/>
        </Component>

        <!--Installs always-->
        <Component Id="SetParameters.xml" Guid="ae5938c1-5bea-4232-9a6c-0c9482d05b8d" Feature="ProductFeature">
          <!--<Condition>UILevel=2</Condition>-->
          <File Id="SetParameters.xml" Source="$(var.WebSrcPath)$(var.WEBDEPLOYPROJECTNAME).SetParameters.xml" Vital="yes" KeyPath="yes"/>
        </Component>

        <Component Id="ConfigTransformations.cmd" Guid="{9365B43F-2E35-4D30-9609-AD1C871B9639}" Feature="ProductFeature">
          <File Id="ConfigTransformations.cmd" Source="$(var.SolutionDir)\NVSComponents\MVCWebUIComponent\Transformations\ConfigTransformations.cmd" Vital="yes" KeyPath="yes"/>
        </Component>

        <Component Id="ctt.exe"  Guid="{31A167D3-2541-4DAD-8B90-F21EF91FF53F}" Feature="ProductFeature">
          <File Id="ctt.exe" Source="ctt.exe" Vital="yes" KeyPath="yes"/>
        </Component>

        <Component Id="ctt.exe.config" Guid="{47AF2221-8029-4C69-9074-0116EE42CC64}" Feature="ProductFeature">
          <File Id="ctt.exe.config" Source="ctt.exe.config" Vital="yes" KeyPath="yes"/>
        </Component>


        <!--Installs only using UI-->
        <!--<Component Id="ChangeSetParameters1.xml" Guid="{A1BDE048-4C64-42D4-AE80-656A21547B53}" Feature="ProductFeature">
        <Condition>NOT UILevel=2</Condition>
        <CreateFolder/>
        <util:XmlFile Id="ChangeSetParameters.xml.Attribute.1"
                      Action="setValue"
                      File="[#SetParameters.xml]"
                      ElementPath="//parameters/setParameter[\[]@name='SETPARAMETERS KEY'[\]]/@value"
                      Value="application name=DB-SAMPLE-NAME;packet size=4096;packet size=4096;user id=[SQLUSERNAME];data source=[SQLSERVER];persist security info=True;initial catalog=[SQLCATALOGUE];password=[SQLPASSWORD];"
                      Sequence="1" />
      </Component>-->
        <Component Id="ChangeSetParameters2.xml" Guid="{5F99E3E0-65ED-4023-853E-9B1B094DCCB8}" Feature="ProductFeature">
          <CreateFolder/>
          <util:XmlFile Id="ChangeSetParameters.xml.Attribute.2"
                        Action="setValue"
                        File="[#SetParameters.xml]"
                        ElementPath="//parameters/setParameter[\[]@name='IIS Web Application Name'[\]]/@value"
                        Value="[WEBSITENAME]"
                        Sequence="1" />
        </Component>

      </Directory>

    </DirectoryRef>
    
  </Fragment>

</Wix>