<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Defines.wxi?>

  <!--Find information and tutorials in https://teamplace.volvo.com/sites/volvoit-dotNET/DeveloperTools/Windows%20installer%20XML.aspx-->
  
  <Fragment>

    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="DesktopFolder" />

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProductMenuFolder" Name="$(var.PRODUCTNAME)" />
      </Directory>

      <Directory Id="ProgramFilesFolder">
        <Directory Id="DEFAULTROOTDIR" Name=".">
          <Directory Id="INSTALLFOLDER" Name="$(var.PRODUCTNAME)" />
        </Directory>
      </Directory>

    </Directory>

  </Fragment>

</Wix>