<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Defines.wxi?>

  <!--Find information and tutorials in https://teamplace.volvo.com/sites/volvoit-dotNET/DeveloperTools/Windows%20installer%20XML.aspx-->

  <Fragment>
    <UI>
      <Dialog Id="NoWebSiteDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="&amp;Ok">
          <Publish Event="EndDialog" Value="Exit" />
        </Control>
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="A problem occured with this installation"/>
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}No WebSite found"/>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner"/>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0"/>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0"/>
        <!--User settings added here-->
        <Control Id="NoWebSiteLabel" Type="Text" X="20" Y="60" Width="330" Height="72" Text="Web site [WEBSITENAME] was not found on this target, please create the web site or install this package on the right target"/>
        <!--User settings added here-->
      </Dialog>
    </UI>
    <!--
    You can replace all these settings with your own (everyone should be WixVariable):
    <WixVariable Id="WixUILicenseRtf" Value="bobpl.rtf" />
    WixUIBannerBmp - Top banner 493 × 58 
    WixUIDialogBmp - Background bitmap used on the welcome and completion dialogs 493 × 312 
    WixUIExclamationIco - Exclamation icon on the WaitForCostingDlg 32 × 32 
    WixUIInfoIco - Information icon on the cancel and error dialogs 32 × 32 
    WixUINewIco - Button glyph on the BrowseDlg 16 × 16 
    WixUIUpIco - Button glyph on the BrowseDlg 16 × 16
    -->

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <UI Id="USERUI">
      <!--Refs for the default WiX UI dialogs-->
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />

      <!-- Skipping license dialog - to keep the license dialog remove these two line below -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>

      <!--If the website doesn't exist-->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="NoWebSiteDlg" Order="3"><![CDATA[WEBSITEEXISTS<>"true"]]></Publish>
    </UI>

  </Fragment>

</Wix>