/*
general fix of kendo css
based on themebuilder css line 16
*/

.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-editable-area,
.k-separator,
.k-colorpicker .k-i-arrow-s,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header-wrap,
.k-grid-header,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-calendar th,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-tiles,
.k-toolbar,
.k-tooltip,
.k-button-group .k-tool-icon,
.k-upload-files
{
    border-color: #d0d0d0;
}

/*
general fix of kendo css
based on themebuilder css line 105
*/

.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active
{
    border: none;
}

/*
general fix of kendo css
based on themebuilder css line 115
*/

.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input
{
    border-color: #d0d0d0;
}

/*
general fix of kendo css
based on themebuilder css line 523
*/

.k-state-focused.k-state-selected,
.k-list > .k-state-focused.k-state-selected,
.k-listview > .k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected,
.k-button:focus:active
{
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*
general fix of kendo css
based on themebuilder css line 687
*/

.k-state-disabled
{
    filter: none;
    opacity: 1;
}

/*
general fix of kendo css
based on themebuilder css line 893
*/

.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused
{
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*
general fix of kendo css
based on themebuilder css line 919
*/

.k-popup,
.k-menu .k-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect.k-state-focused,
.k-imagebrowser .k-image,
.k-tooltip
{
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*
general fix of kendo css
based on themebuilder css line 1055
*/

.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input
{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

/*
general fix of kendo css
based on themebuilder css line 1066
*/

.k-multiselect.k-state-border-up .k-multiselect-wrap
{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

/*
general fix of kendo css
based on themebuilder css line 1091
*/

.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input
{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.k-numeric-wrap .k-link
{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.k-numeric-wrap .k-link + .k-link
{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.k-colorpicker .k-selected-color
{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.k-rtl .k-colorpicker .k-selected-color
{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.k-autocomplete.k-state-border-down .k-input,
.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input
{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.k-multiselect.k-state-border-down .k-multiselect-wrap
{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

/*
general fix of kendo css
based on themebuilder css multiple lines
*/

.k-widget.k-tooltip
{
    background-image: url("../kendo/2016.1.112/textures/highlight.png");
}

.k-icon,
.k-tool-icon,
.k-grouping-dropclue,
.k-drop-hint,
.k-column-menu .k-sprite
{
    background-image: url('../kendo/2016.1.112/Default/sprite.png');
}

.k-loading,
.k-state-hover .k-loading
{
    background-image: url('../kendo/2016.1.112/Default/loading.gif');
}

.k-loading-image
{
    background-image: url('../kendo/2016.1.112/Default/loading-image.gif');
}

.k-event
{
    background-image: url("../kendo/2016.1.112/textures/highlight.png");
}

.k-tool-icon,
.k-tool-icon.k-state-hover,
.k-tool-icon.k-state-active,
.k-tool-icon.k-state-active.k-state-hover,
.k-tool-icon.k-state-selected,
.k-tool-icon.k-state-selected.k-state-hover
{
    background-image: url('../kendo/2016.1.112/Default/sprite.png');
}

.k-slider-horizontal .k-tick
{
    background-image: url('../kendo/2016.1.112/Default/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image: url('../kendo/2016.1.112/Default/slider-v.gif');
}

.k-tile .k-folder,
.k-tile .k-file
{
    background-image: url('../kendo/2016.1.112/Default/imagebrowser.png');
}

/*
fix pickers
*/

.k-autocomplete .k-input,
.k-picker-wrap .k-input
{
    border: 1px solid #d0d0d0;
}

input.k-textbox,
input.k-textbox:hover,
.k-ff input.k-textbox,
.k-ff input.k-textbox:hover,
.k-ie input.k-textbox,
.k-ie input.k-textbox:hover
{
    height: 20px;
    line-height: 18px;
    padding: 0;
    border: 1px solid #D0D0D0;
    text-indent: 4px;
}

input.k-textbox[disabled="disabled"],
input.k-textbox[disabled="disabled"]:hover
{
    color: #9F9E9E;
}

.k-textbox > input,
.k-autocomplete .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-dropdown-wrap .k-input,
.k-selectbox .k-input
{
    height: 18px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    text-indent: 4px;
}

.k-textbox > input[disabled="disabled"],
.k-autocomplete .k-input[disabled="disabled"],
.k-picker-wrap .k-input[disabled="disabled"],
.k-numeric-wrap .k-input[disabled="disabled"],
.k-dropdown-wrap .k-input[disabled="disabled"],
.k-selectbox .k-input[disabled="disabled"]
{
    color: #9F9E9E;
}

.k-dropdown-wrap.k-state-disabled .k-input
{
    color: #9F9E9E;
}

.k-widget.k-dropdown,
.k-widget.k-combobox,
.k-widget.k-datepicker,
.k-widget.k-timepicker,
.k-widget.k-datetimepicker
{
    background-color: transparent;
}

.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap
{
    background-color: transparent;
    border: none;
}

.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input
{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.k-dropdown-wrap .k-input,
.k-numeric-wrap .k-input
{
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
}

.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input,
.k-menu .k-popup
{
    color: #000000;
}

.k-autocomplete.k-state-default,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default
{
    background-color: transparent;
}

.k-dropdown-wrap .k-select
{
    width: 22px;
}

.k-dropdown .k-dropdown-wrap
{
    padding-right: 1px;
}

.k-combobox .k-dropdown-wrap
{
    padding-right: 3px;
}

.k-combobox .k-select .k-icon,
.k-dropdown .k-select .k-icon
{
    background-color: #d0d0d0;
}

.k-list-container.k-state-border-down, 
.k-autocomplete.k-state-border-down, 
.k-dropdown-wrap.k-state-border-down, 
.k-picker-wrap.k-state-border-down, 
.k-numeric-wrap.k-state-border-down {
    padding-bottom: 0;
}

.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-dropdown-wrap .k-select
{
    line-height: 0;
    min-height: 0;
}

.k-picker-wrap .k-select,
.k-dropdown-wrap .k-select
{
    padding-top: 2px;
}

.k-combobox .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select
{
    border: none;
}

.k-icon.k-i-calendar
{
    background: url("icons/Calendar_14x14.png") no-repeat 2px 1px;
}

.k-icon.k-i-clock
{
    background: url("icons/History_14x14.png") no-repeat 2px 1px;
}

.k-list > .k-state-selected,
.k-list > .k-state-focused,
.k-list > .k-state-highlight,
.k-list > .k-state-hover
{
    color: HighlightText;
    background-color: Highlight;
    border-color: Highlight;
}

.k-numeric-wrap .k-select
{
    width: 16px;
}

.k-numerictextbox .k-link
{
    height: 14px;
    line-height: 14px;
    padding: 0;
}

.k-numerictextbox .k-link.k-state-selected
{
    background-color: transparent;
}

.k-numerictextbox .k-select .k-link span.k-i-arrow-n,
.k-numerictextbox .k-link.k-state-selected span.k-i-arrow-n,
.k-numerictextbox .k-state-hover .k-link span.k-i-arrow-n
{
    background-image: url("icons/Up_14x14.png");
    background-position: 0 0;
    height: 14px;
    margin-top: -12px;
}

.k-numerictextbox .k-select .k-link span.k-i-arrow-s,
.k-numerictextbox .k-link.k-state-selected span.k-i-arrow-s,
.k-numerictextbox .k-state-hover .k-link span.k-i-arrow-s
{
    background-image: url("icons/Down_14x14.png");
    background-position: 0 0;
    height: 14px;
    margin-top: -12px;
}

.k-multiselect.k-header.k-state-selected,
.k-multiselect.k-header.k-state-focused,
.k-multiselect.k-state-hover,
.k-multiselect.k-state-hover:hover
{
    border-color: #d0d0d0;
}

/*
fix calendar
*/

.k-widget.k-calendar .k-link
{
    text-align: center;
    color: #000000;
}

.k-widget.k-calendar .k-nav-fast
{
    display: inline;
    padding: 4px 4px 5px;
}

.k-widget.k-calendar .k-nav-prev,
.k-widget.k-calendar .k-nav-next
{
    top: 0;
}

.k-widget.k-calendar .k-nav-prev
{
    left: 0;
}

.k-widget.k-calendar .k-nav-next
{
    right: 0;
}

.k-widget.k-calendar th
{
    font-weight: bold;
    text-align: center;
    border: none;
}

.k-widget.k-calendar .k-footer
{
    display: none !important;
}

.k-popup.k-calendar-container
{
    padding: 0;
    border-color: #d0d0d0;
}

/*
fix menu
*/

.k-widget.k-menu.k-menu-horizontal > .k-item > .k-link > .k-icon
{
    display: none;
}

.k-widget.k-menu .k-icon
{
    background: none;
}

.k-widget.k-menu .k-icon.k-i-arrow-e
{
    background: url("icons/submenu_indicator.gif") center center no-repeat;
}

/*
fix splitter
*/

.k-splitter .k-splitbar-static-horizontal,
.k-splitter .k-splitbar-static-vertical {
    width: 0;
    height: 0;
    border-width: 0;
}

/*
fix slider
*/

.k-widget.k-slider .k-button-increase,
.k-widget.k-slider .k-button-decrease
{
    background: none;
    border: none;
}

.k-widget.k-slider .k-icon.k-i-arrow-e
{
    background: url("icons/Forward_16x16.png") center center no-repeat transparent;
}

.k-widget.k-slider .k-icon.k-i-arrow-w
{
    background: url("icons/Back_16x16.png") center center no-repeat transparent;
}

.k-widget.k-slider .k-icon.k-i-arrow-n
{
    background: url("icons/Up_14x14.png") center center no-repeat transparent;
}

.k-widget.k-slider .k-icon.k-i-arrow-s
{
    background: url("icons/Down_14x14.png") center center no-repeat transparent;
}

/*
fix tooltip
*/

.k-widget.k-tooltip
{
    background-color: #ffffff;
}

/*
fix upload
*/

/*
fix window
*/

.k-widget.k-window
{
    min-width: 250px !important;
}

/*
fix panelbar
*/

.k-panelbar > li.k-state-default > .k-link
{
    color: #000000;
}

/*
fix panelbar nvs-collapsible-panel
*/

.k-panelbar > li > .k-link
{
    color: #000000;
}

.k-widget.k-panelbar.nvs-collapsible-panel
{
    border: none;
}

.k-widget.k-panelbar.nvs-collapsible-panel > .k-item
{
    background: none;
    border: none;
}

.k-widget.k-panelbar.nvs-collapsible-panel > .k-item > .k-content
{
    border: none;
}

/*
fix tabstrip
*/

.k-widget.k-tabstrip
{
    border: none;
    background-color: transparent;
}

/*
fix treeview
*/

.k-treeview-lines .k-top,
.k-treeview-lines .k-mid,
.k-treeview-lines .k-bot
{
    background-image: url("icons/treeview-nodes.png");
}

.k-treeview-lines .k-item
{
    background-image: url("icons/treeview-line.png");
}

.k-treeview-lines .k-last
{
    background-image: none;
}

.k-treeview-lines .k-top,
.k-treeview-lines .k-mid,
.k-treeview-lines .k-bot
{
    background-repeat: no-repeat;
    margin-left: -16px;
    padding-left: 16px;
}

.k-treeview-lines .k-top
{
    background-position: -91px 0;
}

.k-treeview-lines .k-bot
{
    background-position: -69px -22px;
}

.k-treeview-lines .k-mid
{
    background-position: -47px -44px;
}

.k-treeview-lines .k-last .k-top
{
    background-position: -25px -66px;
}

.k-treeview-lines .k-group .k-last .k-bot
{
    background-position: -69px -22px;
}

.k-treeview-lines .k-item
{
    background-repeat: no-repeat;
}

.k-treeview-lines .k-first
{
    background-repeat: no-repeat;
    background-position: 0 16px;
}

.k-widget.k-treeview .k-icon.k-minus
{
    background: url("icons/Tree_Collapse_16x16.png") center center no-repeat transparent;
}

.k-widget.k-treeview .k-icon.k-plus
{
    background: url("icons/Tree_Expand_16x16.png") center center no-repeat transparent;
}

/*
fix button
*/

.k-button,
.k-button:hover
{
    border: 1px outset;
    font-family: "Arial";
}

/*
fix grid
*/

.k-widget.k-grid
{
    border: none;
}

.k-header.k-grid-toolbar.k-grid-top
{
    border: none;
    padding: 0;
}

.k-grid .k-grouping-header
{
    margin-top: -1px;
}

form.k-filter-menu .k-widget,
form.k-filter-menu .k-textbox
{
    margin: 0.5em 0;
}

.k-widget.k-grid .k-grid-header-wrap,
.k-widget.k-grid .k-grid-footer-wrap
{
    height: 27px;
    border-width: 0;
}

.k-toolbar > *, .k-toolbar .k-button {
     display: block;
}

/*
fix editor
*/

.k-editor-button .k-tool-icon
{
    border-width: 1px;
}

/*
progressbar
*/

.k-progressbar, .k-progressbar-horizontal > .k-state-selected, .k-rtl .k-progressbar-horizontal.k-progressbar-reverse > .k-state-selected, .k-progressbar-horizontal.k-progressbar-reverse > .k-state-selected, .k-rtl .k-progressbar-horizontal > .k-state-selected, .k-progressbar-vertical > .k-state-selected, .k-progressbar-vertical.k-progressbar-reverse > .k-state-selected, .k-progressbar > .k-state-selected.k-complete, .k-rtl .k-progressbar > .k-state-selected.k-complete, .k-progressbar-horizontal .k-first, .k-rtl .k-progressbar-horizontal .k-last, .k-rtl .k-progressbar-horizontal.k-progressbar-reverse .k-last, .k-progressbar-horizontal .k-last, .k-rtl .k-progressbar-horizontal .k-first, .k-progressbar-vertical .k-first, .k-progressbar-vertical .k-last {
    border-radius: 0;
}

/*
notification
*/

.k-widget.k-notification {
    border: 1px solid;
    padding: 20px 20px 20px 65px;
}

.k-widget.k-notification.k-notification-error {
    background: url("icons/Error_32x32.png") no-repeat scroll 16px center #ffffee;
    border-color: #990000;
}

.k-widget.k-notification.k-notification-info,
.k-widget.k-notification.k-notification-success {
    background: url("icons/Information_32x32.png") no-repeat scroll 16px center #ffffee;
    border-color: #0018FF;
}

.k-widget.k-notification.k-notification-warning {
    background: url("icons/Warning_32x32.png") no-repeat scroll 16px center #ffffee;
    border-color: #990000;
}

/*.k-widget.k-notification-wrap {
    padding: 0;
}*/

.k-widget .k-notification .k-notification-wrap {
    padding: 0;
}

/*.k-notification-wrap {
    padding: 0;
}*/

.k-widget.k-notification .k-i-note {
    display: none;
}


.k-radio-label {
    padding-left: 20px;
}

.k-checkbox-label {
    padding-left: 18px;
}
