/*
general css
*/

html
{
    background: #cdcdcd;
}

body
{
    background: transparent;
}

#nvsMainWindow
{
    background-color: #ffffff;
    margin: 0 19px 0 19px;
}

/*
header, body and footer
*/

#nvsHeader
{
    border: 0 !important;
    padding: 0 !important;
    overflow: visible !important;
    z-index: 1 !important;
    height: 77px;
}

#nvsSurroundingArea
{
    background: #000000;
}

#nvsApplicationId
{
    padding: 7px 0 8px 18px;
}

#nvsApplicationId h1
{
    font-weight: bold;
    font-size: 23px;
    line-height: 23px;
    color: #ffffff;
}

#nvsApplicationId h1 a
{
    font-weight: bold;
    font-size: 23px;
    line-height: 23px;
    color: #ffffff;
}

#nvsApplicationId h2
{
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    margin-top: 2px;
    text-align: right;
    color: #ffffff;
}

#nvsSupportingFunctions
{
    margin: 9px 19px 0 0;
}

#nvsSupportingFunctions a
{
    background: url("mack/ic_bullet.gif") no-repeat left center;
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    padding-left: 8px;
    margin-left: 8px;
    color: #ffffff;
}

#nvsUserId
{
    margin: 9px 19px 0 0;
    color: #ffffff;
}

#nvsContent
{
    border: 0 !important;
    padding: 0 !important;
    z-index: 0;
}

#nvsBody
{
    border: 0 !important;
    padding: 6px 19px 0 19px !important;
}

#nvsFooter
{
    border: 0 !important;
    border-top: 1px solid #B8BBC3 !important;
    padding: 3px 0 6px !important;
}

#nvsVersion
{
    margin-right: 19px;
}

#nvsLegal
{
    margin-left: 19px;
}

/*
header tags
*/

h1.nvs
{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 8px;
}

h2.nvs
{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 8px;
    color: #9F9F9F;
}

h3.nvs
{
    font-weight: bold;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 5px;
    border-bottom: 1px solid #D4D4D4;
    margin-bottom: 7px;
}

h4.nvs
{
    font-weight: bold;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 5px;
    border-bottom: 1px solid #D4D4D4;
    margin-bottom: 7px;
    color: #9f9f9f;
}

h5.nvs
{
    font-weight: bold;
    font-size: 11px;
    color: #000000;
    margin-bottom: 7px;
}

/*
command area
*/

.commandArea
{
    background-color: transparent;
    border: 1px solid #CDCDCD;
}

.commandArea input[type="button"],
.commandArea input[type="submit"]
{
    color: #222222;
    background-color: #EDEDED;
    border-color: #AFAFAF;
}

.commandArea input[type="button"].disabled,
.commandArea input[type="submit"].disabled
{
    color: #6F6F6F;
    background-color: #F6F6F6;
    border-color: #d0d0d0;
}

/*
toolbar
*/

.toolbar
{
    background-color: #eaebea;
    border-color: #a7a79f;
}

.toolbar .delimiter
{
    border-color: #d5d6dd;
}

.toolbar input[type="button"],
.toolbar input[type="submit"]
{
    color: #6F6F6F;
}

.toolbar input[type="button"]:hover,
.toolbar input[type="submit"]:hover
{
    color: #000000;
    background-color: #F8F8F8;
    border-color: #C1C1C1;
}

.toolbar input[type="button"].disabled,
.toolbar input[type="button"].disabled:hover,
.toolbar input[type="submit"].disabled,
.toolbar input[type="submit"].disabled:hover
{
    color: #ABABAB;
}

/*
form
*/

div.group
{
    background-color: #F6F6F5;
}

label.field
{
    color: #222222;
}

a.nvs:link,
a.nvs:active,
a.nvs:visited
{
    text-decoration: none;
    color: #000000;
}

a.nvs:hover
{
    text-decoration: none;
    color: #999999;
}

/*
icons
*/

/*
table
*/

table.nvs > thead,
table.nvs > tfoot
{
    background-color: #DFDFDE;
    border-bottom: solid 1px #a7a79f;
}

table.nvs > thead
{
    border-top: solid 1px #a7a79f;
}

table.nvs > tbody > tr.alt
{
    background-color: #f2f2f1;
}

table.nvs > tbody > tr
{
    border-bottom: solid 1px #a7a79f;
}

table.nvs > tbody > tr:hover
{
    background-color: #cececd;
}