/*
general css
*/

*
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

html
{
    background: #ffffff url(violin/bkg_bodyleft.gif) repeat-y scroll left top;
}

body
{
    background: transparent url(violin/bkg_bodyright.gif) repeat-y scroll right top;
}

#nvsMainWindow
{
    background-color: #ffffff;
    margin: 0 30px 0 32px;
}

/*
header, body and footer
*/

#nvsHeader
{
    border: 0 !important;
    padding: 0 !important;
    overflow: visible !important;
    z-index: 1 !important;
    height: 77px;
}

#nvsSurroundingArea
{
    background: #D5D9E3 url("violin/bkg_topbar.gif") no-repeat;
}

#nvsApplicationId
{
    padding: 7px 0 8px 18px;
}

#nvsApplicationId h1
{
    font-weight: bold;
    font-size: 23px;
    line-height: 23px;
}

#nvsApplicationId h1 a
{
    font-weight: bold;
    font-size: 23px;
    line-height: 23px;
}

#nvsApplicationId h2
{
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    margin-top: 2px;
    text-align: right;
}

#nvsSupportingFunctions
{
    margin: 9px 19px 0 0;
}

#nvsSupportingFunctions a
{
    background: url("violin/ic_bullet.gif") no-repeat left center;
    font-weight: bold;
    font-size: 11px;
    line-height: 11px;
    padding-left: 8px;
    margin-left: 8px;
}

#nvsUserId
{
    margin: 9px 19px 0 0;
}

#nvsContent
{
    border: 0 !important;
    padding: 0 !important;
    z-index: 0;
}

#nvsBody {
    border: 0 !important;
    padding: 16px 0 0 0 !important;
}

#nvsFooter
{
    border: 0 !important;
    border-top: 1px solid #B8BBC3 !important;
    padding: 3px 0 6px !important;
}

#nvsVersion
{
    margin-right: 19px;
}

#nvsLegal
{
    margin-left: 19px;
}

/*
header tags
*/

h1.nvs
{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 8px;
}

h2.nvs
{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 8px;
    color: #4E697E;
}

h3.nvs
{
    font-weight: bold;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 8px;
    padding-left: 10px;
    background: url("violin/bkg_section_heading.gif") bottom left repeat-x #DBC8A7;
    margin-bottom: 7px;
}

h4.nvs
{
    font-weight: bold;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 5px;
    border-bottom: 1px solid #B2BEC7;
    margin-bottom: 7px;
}

h5.nvs
{
    font-weight: bold;
    font-size: 11px;
    color: #666666;
    margin-bottom: 7px;
}

/*
command area
*/

.commandArea
{
    background-color: #EAE0CD;
}

.commandArea input[type="button"],
.commandArea input[type="submit"]
{
    font-family: "Tahoma";
    color: #ffffff;
    background-color: #AA9E88;
    border-color: #F5EEE4;
}

.commandArea input[type="button"].disabled,
.commandArea input[type="submit"].disabled
{
    color: #CABFAB;
    background-color: #DACFBC;
    border-color: #F5EEE4;
}

/*
toolbar
*/

.toolbar
{
    background-color: #F3F5F7;
    border-color: #A7B9C6;
}

.toolbar .delimiter
{
    border-color: #A7B9C6;
}

.toolbar input[type="button"],
.toolbar input[type="submit"]
{
    color: #4E4E4E;
}

.toolbar input[type="button"]:hover,
.toolbar input[type="submit"]:hover
{
    color: #0C106B;
    background-color: #E2E9ED;
    border-color: #BCCCD5;
}

.toolbar input[type="button"].disabled,
.toolbar input[type="button"].disabled:hover,
.toolbar input[type="submit"].disabled,
.toolbar input[type="submit"].disabled:hover
{
    color: #dadcde;
}

/*
form
*/

div.group
{
    background-color: #F8F6F1;
}

label.field
{
    color: #333333;
}

a.nvs:link,
a.nvs:active,
a.nvs:visited
{
    text-decoration: none;
    color: #1a2872;
}

a.nvs:hover
{
    text-decoration: none;
    color: #848abd;
}

/*
icons
*/

/*
table
*/

table.nvs > thead,
table.nvs > tfoot
{
    background-color: #EAE0CD;
}

table.nvs > tbody > tr.alt
{
    background-color: #F8F6F1;
}

table.nvs > tbody > tr:hover
{
    background-color: #EAE0CD;
}